<form action="/nhl_teams" method="post">
    <div>
        <input type="text" name="name" placeholder="Team Name">
    </div>
    <div>
        <input type="text" name="city" placeholder="Team City">
    </div>
    <div>
        <input type="submit" value="Save">
    </div>
</form>