<h1><%= @nhl_team.name %></h1>

<h5>Players</h5>

<% @nhl_team.players.each do |player| %>
    <div>
       <%= player.first_name %>
       <%= player.last_name %>
       <%= player.number %>
    </div>
<% end %>