<form action="/franchises" method="post">
    <div>
        <input type="text" name="name" placeholder="Team Name">
    </div>
    <div>
        <input type="text" name="city" placeholder="Home City">
    </div>
    <div>
        <input type="submit" value="Save">
    </div>
</form>