<%= link_to 'New Course', new_course_path %>

<% @courses.each do |course| %>
    <div>
        <%= course.name %>
        <%= link_to 'Edit', edit_course_path(course) %>
        <%= link_to 'Delete', course_path(course) %>
    </div>
<% end %>