<html>
    <body>
        <form action="/contact/find" method='post'>
            <input type='text' name='search' placeholder="Search criteria">
            <input type="submit" value="Search">
        </form>
    </body>
</html>